---
layout: page
title: "Hey M4rcu$"
---
<div class="flex" style="justify-content: space-between">
    <div class="whoami">
        <div class="whoami-size">$ whoami</div>
        <div class="flex" style="align-items: end">
            <div class="marcusloeper-size">marcusloeper</div>
            <div class="cursor" style="margin-bottom: 6px; margin-left: 6px;"></div>
        </div>
    </div>
    <div>
    </div>
</div>
<div class="term-box">
    <div class="id-cmd">$ id -G -n</br>root developer infosec berlin german motion_designer father</div>
</div>


<div class="home-two-column" style="">
    <!-- <div> -->
    <!--   <canvas id="myChart"></canvas> -->
    <!-- </div> -->
    <div class="">
        <h2>Who is this?</h2>
        <div class="home-summary term-box">
            I'm currently a <strong>developer</strong> aiming to transition into the <strong>information security</strong> sector.<br><br>
            This is my space to share notes that might not only be useful to me but also to others.<br><br>
            I'll write about my learnings and the topics that interest me.
        </div>
    </div>
    <div class="w-full" style="margin-right: 1em; display: flex; flex-direction: column">
        <h2>HackTheBox Stats</h2>
        <div class="term-box" style="flex-grow: 1; display: flex" >
            <div class="htb-stats" style="flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between">
                <div>
                {% capture ranking %}
                    #{{ site.data.htb_stats.profile.ranking }}
                {% endcapture %}
                {% include stats_card.html emoji="🏆" title="HTB_Rank" content=ranking %}
                {% include stats_card.html emoji="👤" title="User_Owns" content=site.data.htb_stats.profile.user_owns %}
                {% include stats_card.html emoji="🖥️" title="System_Owns" content=site.data.htb_stats.profile.system_owns %}
                </div>

                <div style="">
                    <div class="">
                        {% include stats_card.html emoji="📈" title="Rank_Progress" content="" %}
                            {% include progressbar.html done=site.data.htb_progressbar.rank_progress.done_hash_cnt
                                                        open=site.data.htb_progressbar.rank_progress.open_hash_cnt
                                                        value=site.data.htb_progressbar.rank_progress.value %}
                    </div>
                    <div class="">
                        {% include stats_card.html emoji="👑" title="Ownership" content="" %}
                            {% include progressbar.html done=site.data.htb_progressbar.ownership_progress.done_hash_cnt
                                                        open=site.data.htb_progressbar.ownership_progress.open_hash_cnt
                                                        value=site.data.htb_progressbar.ownership_progress.value %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h2>HackTheBox Acadamy</h2>
    <div class="term-box">
        <div class="inner-box flex">
            <img class="acadamy_thumb" src="{{"/images/acadamy_thumb.jpg" | relative_url }}">
            <div class="flex items-center" style="justify-content: space-around; flex-grow: 1">
                <div style="width: 200px">
                    <div class="acadamy_current_path">Current Path</div>
                    <div class="acadamy_title">Penetration Tester</div>
                </div>
                <div class="acadamy_stats">
                        {% include stats_card.html emoji="📖" title="Path_Completion" content="" %}
                        {% include progressbar.html done=site.data.htb_progressbar.acadamy_progress.done_hash_cnt
                                                    open=site.data.htb_progressbar.acadamy_progress.open_hash_cnt
                                                    value=site.data.htb_progressbar.acadamy_progress.value %}
                </div>
            </div>

        </div>
    </div>
</div>

<div class="thm-stats">
    <h2>TryHackMe Stats</h2>
    <div class="term-box">
        <div class="inner-box flex justify-between">
                {% capture thm_ranking %}
                    #{{ site.data.thm_stats.data.rank }}
                {% endcapture %}
                <div class="flex">
                    {% include stats_card.html emoji="🏆" title="THM_Rank" content=thm_ranking %}
                    <div class="top-percentage" style="color: green">
                        top {{ site.data.thm_stats.data.topPercentage }}%
                    </div>
                </div>
                {% include stats_card.html emoji="✅" title="Cmpl_Rooms" content=site.data.thm_stats.data.completedRoomsNumber %}
                {% include stats_card.html emoji="🔰" title="Badges" content=site.data.thm_stats.data.badgesNumber %}
        </div>
    </div>
</div>

<h2>Recent Posts</h2>
<div class="recent-posts">
    <ul>
      {% for post in site.posts limit:5 %}
        <li>
            {% include preview_post.html title=post.title url=post.url image=post.image excerpt=post.excerpt %}
        </li>
      {% endfor %}
    </ul>
</div>
<script>
  const progressBar = document.getElementById('progressbar');
  progressBar.style.width = progressBar.textContent + '%';

  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>


