<header class="header">
        <div class="nav-container">
            <span class="logo">~/root$</span>
            <nav class="nav">
                <ul class="nav--ul__two">
                    <li class="nav-link"><a href="/index.html">home</a></li>
                    <li class="nav-link"><a href="/blog/index.html">blog</a></li>
                    <li class="nav-link"><a href="/about.html">about</a></li>
                    <li class="nav-link"><a href="/contact.html">contact</a></li>
                </ul>
            </nav>
            <span class="hamburger-menu  material-symbols-outlined">menu</span>
        </div>
</header>

