body {
  background-color: #10072D;
  color: #FFD6C2;
}

.content_container {
  width: 100%;
}

mark {
  background-color: yellow;
}

.content {
  width: auto;
  min-width: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  padding: 60px 10px 10px 10px;
}

img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  letter-spacing: -2px;
  font-size: 2.5em;
  border-bottom: 2px solid #223;
  padding-bottom: 15px;
  font-variation-settings:
    "wdth" 87.5;
}

h2 {
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: #41F0A4;
}

a {
  color: #371FEA;
}

p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 1px;
  font-style: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}

strong {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2em;
  font-weight: 900;
  letter-spacing: 2px;
  font-style: normal;
  color: #C04CFD;
}

em {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2em;
  font-weight: 900;
  letter-spacing: 2px;
  font-style: italic;
  color: #FC6DAB;
}

strong > em {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2em;
  font-weight: 900;
  letter-spacing: 2px;
  font-style: italic;
  color: #C04CFD;
}

p > code {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 900;
  letter-spacing: 1px;
  font-style: normal;
  color: #DB7E1B;
  background-color: #223;
  padding: 4px 8px 4px 8px;
}

.highlight {
  padding: 0px 5px 0px 5px;
  font-size: 1.1em;
  overflow: auto;
}



.term-box {
  border: 3px solid #2F275E;
  margin-bottom: 1em;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.bg-red {
  background-color: red;
}

.items-center {
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.inner-box {
  padding: 15px 25px 15px 25px;
}

@keyframes blink {
    0%, 45%, 100% {
        background-color: transparent;
    }
    50%, 95% {
        background-color: #41F0A4;
    }
}


.cursor {
  animation: blink 1.5s infinite;
  height: 40px;
  width: 20px;
}


.recent-posts ul {
  list-style-type: none; /* Remove default bullets */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  width: 100%; /* Make the list take full width of the container */
}
.recent-posts > ul li {
 width: 100%; /* Make each list item take the full width of the container */
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

footer {
  margin-top: 3rem;
}

footer > p {
  font-size: 0.8rem;
}



