.home-two-column {
  justify-content: space-between;
  display: flex;
}

.home-summary {
  padding: 25px;
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  width: 320px;
}


.id-cmd {
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: #5C3FBC;
  padding: 15px;
}


.whoami {
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 40px;
}

.whoami-size {
  color: #E2AE01;
}

.marcusloeper-size {
  color: #41F0A4;
}

.htb-stats {
  padding: 25px;
}
.htb-container {
  width: 100%;
}

.acadamy_thumb {
  margin: -15px 0px -15px -25px;
  height: 100px;
}

.acadamy_current_path {
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 0.8rem;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: #5c3fbc;

}

.acadamy_title {
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2rem;
  font-variation-settings:
    "wdth" 100;
  color: #41F0A4;
}

.acadamy_stats {
}
