.home-header {
  display: flex;
  justify-content: space-between;

}

.home-summary {
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  max-width: 300px;
  background-color: red;

}
